<nav>
  <LinkTo @route="json" >JSON Serializer</LinkTo>
  <LinkTo @route="json-api" >JSON API Serializer</LinkTo>
  <LinkTo @route="rest" >REST Serializer</LinkTo>
</nav>

<p>Dummy data rendered from <a href="https://reqres.in" target="blank">ReqRes</a> which is a rest API service</p>
<hr>
<br>
{{outlet}}